<div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-seconadry fixed-top">
        <h3> <a class="navbar-brand" href="/"><span class="badge badge-success">Latest News</span></a></h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <a class="nav-item active">
                    <a class="nav-link" href="/"><button type="button" class="btn btn-info">Home
                        </button><span class="sr-only">(current)</span></a>
                
                <a class="nav-item">
                    <a class="nav-link" href="/{{'categories/Business'}}"><button type="button"
                            class="btn btn-info">Business</button></a>
                
                <a class="nav-item">
                    <a class="nav-link" href="/{{'categories/Technology'}}"><button type="button"
                            class="btn btn-info">Technology</button></a>
                
                <a class="nav-item">
                    <a class="nav-link" href="/{{'categories/Science'}}"><button type="button"
                            class="btn btn-info">Science</button></a>
                
                <a class="nav-item">
                    <a class="nav-link" href="/{{'categories/Sports'}}"><button type="button"
                            class="btn btn-info">Sports</button></a>
                
                <a class="nav-item">
                    <a class="nav-link" href="/{{'categories/Entertainment'}}"><button type="button"
                            class="btn btn-info">Entertainment</button></a>
                
            </ul>
            
        </div>
        
    </nav>
   
</div>